<ul class="nav nav-tabs">
    <li {% if active == 1 %}class="active"{% endif %}>
        <a href="">{{ "export.history"|trans }}</a>
    </li>
    <li {% if active == 2 %}class="active"{% endif %}>
        <a href="">{{ "article.export"|trans }}</a>
    </li>
    <li {% if active == 3 %}class="active"{% endif %}>
        <a href="">{{ "issue.export"|trans }}</a>
    </li>
    <li {% if active == 4 %}class="active"{% endif %}>
        <a href="">{{ "journal.export"|trans }}</a>
    </li>
    <li {% if active == 5 %}class="active"{% endif %}>
        <a href="">{{ "user.export"|trans }}</a>
    </li>
</ul>