{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.export'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'title': 'title.export'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h2>{{ 'title.export'|trans }}</h2>

    {% include '::flashbag.html.twig' %}
    {{ include('VipaExportBundle::_tabs_menu.html.twig', {active: 5}) }}
    <hr>

    {{ grid(grid) }}
{% endblock %}
